body {
	font-family: 'Montserrat', sans-serif;
	background: url('../img/main-bg.jpg');
	background-size: cover;
}

h1,h2,h4,h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.main-logo {
	width: 90%;
}

.site-wrapper {
background: rgba(19,184,11,0.7);
background: -moz-linear-gradient(45deg, rgba(19,184,11,0.7) 0%, rgba(4,106,214,0.63) 77%, rgba(4,106,214,0.61) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19,184,11,0.7)), color-stop(77%, rgba(4,106,214,0.63)), color-stop(100%, rgba(4,106,214,0.61)));
background: -webkit-linear-gradient(45deg, rgba(19,184,11,0.7) 0%, rgba(4,106,214,0.63) 77%, rgba(4,106,214,0.61) 100%);
background: -o-linear-gradient(45deg, rgba(19,184,11,0.7) 0%, rgba(4,106,214,0.63) 77%, rgba(4,106,214,0.61) 100%);
background: -ms-linear-gradient(45deg, rgba(19,184,11,0.7) 0%, rgba(4,106,214,0.63) 77%, rgba(4,106,214,0.61) 100%);
background: linear-gradient(45deg, rgba(19,184,11,0.7) 0%, rgba(4,106,214,0.63) 77%, rgba(4,106,214,0.61) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b80b', endColorstr='#046ad6', GradientType=1 )
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
	text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.services {
    font-size: 16px;
    color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.inner {
	font-weight: 300;
}

