<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Pre - Registro :: FEMECOG</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="https://acceda.mx/images/acceda-nav-color-sm.png" />
				</div>

				<br />

				<strong>{{ nombre }}.</strong>
				
				<br />
				
				<p>Gracias por su interes, hemos recibido sus datos de contacto, en breve nos estaremos comunicando:</p>
				
				<p>
					<strong>
						Email
						<br />
						==========
					</strong>
					<br />
					{{ email }}
				</p>
				
				<br /><br />
				
				<p>
					<strong>
						Mensaje
						<br />
						==========
					</strong>
					<br />
					{{ mensaje }}
				</p>
				
				<br /><br />
				
				<small>--------------------------------------------------------------------------------</small>
				
				<br /><br />
				
				<address>
					<div><strong class="lead">Contacto</strong></div>
					<strong>Nombre: </strong> Ismael Gonzalez<br />
					New York #38<br />
					Napoles, México, D.F. C.P. 03810<br />
					<abbr title="Correo electrónico">E:</abbr> <a href="mailto:ismael.gonzalez@femecog.org.mx">ismael.gonzalez@femecog.org.mx</a><br />
					<abbr title="Teléfono">T:</abbr> 01 (55) 56690211
				</address>
			</div>
		</div>
	</body>
</html>