{% extends "layout.html.twig" %}

{% block content %}
	<p>
		<img src="{{asset('img/acceda-logo-blanco-full.png')}}" class="main-logo img-responsive img-center">
	</p>
	<p class="services">
		Pre-Registro | Desarrollos Web | Apps | En sitio
	</p>
	<!--
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
    <p>
    	<br/>
    	<a href="mailto:rodrigo@acceda.mx" class="myButton">Contáctenos</a>
    </p>
{% endblock %}
